@model ASP.NET_MVC___C__Portfolio.Models.Games

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plataformas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plataformas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpresaDesenvolvedora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpresaDesenvolvedora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
    </dl> 
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
